.nav{
    background-color: #1F2937;
    font-size: 48px;
    width: 100%;
    height: 5%;
    border: 0%;
    margin: 0%;
    padding: 0%;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: row;

}



body{
    border: none;
    padding: 0%;
    margin: 0%;
}

.NavButtons{

    font-size: 16px;
    display: flex;
    flex-direction: row;
    



}

.signupbutton{
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 20px;
    width: 200px;
    margin: 4px 2px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
 
    


}

.Header{
    background-color: #1F2937;
    padding: 0%;
    color: white;

}

.infotext{
    text-align: center;
    flex: ;
    font-size: 36px;
    color: #1F2937;
    
}

.photo{
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 10%;
    border: 5px solid #555;


}

.Quotes{
    background-color: #E5E7EB;

}

.Footer{
    background-color: #1F2937;
    color: white;
}